<ion-content class="ion-padding">

  <h1>Welcome,</h1>
  <h3>Sign in to continue!</h3>

  <form>

    <app-input-text label="Indentificador"></app-input-text>

    <app-input-text label="Senha" type="password"></app-input-text>

    <a routerLink="#" class="forgot-password-link">Forgot Password?</a>

    <app-button-primary label="Login"></app-button-primary>

    <app-button-icon icon="logo-facebook" label="Connect with Facebook"></app-button-icon>

  </form>

  <p class="footer-text">I'm new user, <a routerLink="/signup">Sign Up</a></p>

</ion-content>
