<ion-content class="ion-padding">

  <h1>Create Account,</h1>
  <h3>Sign up get started!</h3>

  <form>

    <app-input-text label="Fullname"></app-input-text>

    <app-input-text label="E-mail"></app-input-text>

    <app-input-text label="Senha" type="password"></app-input-text>

    <app-button-primary label="Create" routerLink="/login"></app-button-primary>

    <app-button-icon icon="logo-facebook" label="Connect with Facebook"></app-button-icon>

  </form>

  <p class="footer-text">I'm already a member, <a routerLink="/login">Log In</a></p>

</ion-content>
